 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     box-sizing: border-box;
     margin: 0%;
     padding: 0%;
     font-family: "Poppins", sans-serif;
     font-weight: 500;
     font-style: italic;
 }

 /* body */
 body {
     background: linear-gradient(to right, rgb(33, 33, 128), black);
     width: 100%;
     height: 100vh;
     overflow-x: hidden;

 }

 /* navbar style */
 nav-item {
     font-weight: bold;
 }

 /* sec1 */
 .sec1 {
     background: linear-gradient(to right, rgb(33, 33, 128), black);
     width: 100%;
     height: 80vh;
 }

 .sec1 h1 {
     position: relative;
     padding: 10px;
     margin: 10px;
     top: 60%;
     color: white;
     font-size: 50px;
     font-weight: 900;
     left: 5%;
 }

 .sec1 img {
     position: relative;
     padding: 10px;
     margin: 10px;
     left: 40%;
     top: 10%;
     border-radius: 50px;
 }

 /* sec2 */
 .sec2 {
     background: linear-gradient(to right, rgb(33, 33, 128), black);
     width: 100%;
     height: 70vh;
 }

 .title h1 {
     position: relative;
     color: white;
     padding: 10px;
     margin: 10px;
     font-size: 40px;
     width: 40%;
     font-weight: 900;
     left: 5%;
     top: 150px;
 }

 .title h3 {
     position: relative;
     color: white;
     padding: 10px;
     margin: 10px;
     font-size: 15px;
     width: 40%;
     font-weight: 900;
     left: 5%;
     top: 150px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     letter-spacing: 3px;
 }

 .container p {
     position: relative;
     color: white;
     padding: 10px;
     margin: 0 auto;
     text-align: left;
     width: 60%;
     bottom: 40px;
     left: 22%;
     text-align: justify;
 }

 /* section-3 */
 .sec3 {
     background: linear-gradient(to right, rgb(33, 33, 128), black);
     width: 100%;
     height: 125vh;
 }

 .flex-box {
     display: flex;
     flex-direction: row;
     justify-content: space-around;


 }

 .box1 {
     position: relative;
     width: 360px;
     height: 350px;
     background-color: white;
     border-radius: 50px;
     left: 3%;
 }

 .align-img {
     position: relative;
     left: 43%;
     top: 15%;
 }

 .align-head h2 {
     position: relative;
     left: 0%;
     top: 70px;
     text-align: center;
     font-size: 30px;
     font-weight: bolder;
 }

 .align-para {
     position: relative;
     top: 20%;
     text-align: center;
     margin: 10px;
     padding: 10px;
 }

 /* box-2 styling */
 .box2 {
     position: relative;
     width: 360px;
     height: 350px;
     background-color: white;
     border-radius: 50px;
 }

 .img-2 {
     position: relative;
     left: 43%;
     top: 15%;
 }

 .heading-2 h2 {
     position: relative;
     left: 0%;
     top: 70px;
     text-align: center;
     font-size: 30px;
     font-weight: bolder;
 }

 .para-2 {
     position: relative;
     top: 20%;
     text-align: center;
     margin: 10px;
     padding: 10px;
 }

 /* box-3 styling */
 .box3 {
     position: relative;
     width: 360px;
     height: 350px;
     background-color: white;
     border-radius: 50px;
     right: 3%;
 }

 .img-3 {
     position: relative;
     left: 43%;
     top: 15%;
 }

 .heading-3 h2 {
     position: relative;
     left: 0%;
     top: 70px;
     text-align: center;
     font-size: 30px;
     font-weight: bolder;
 }

 .para-3 {
     position: relative;
     top: 20%;
     text-align: center;
     margin: 10px;
     padding: 10px;
 }

 /* flex-box-2 styling */
 .flex-box-2 {
     display: flex;
     flex-direction: row;
     justify-content: space-around;

 }

 .box4 {
     position: relative;
     width: 360px;
     height: 350px;
     background-color: white;
     border-radius: 50px;
     left: 3%;
 }

 .img-4 {
     position: relative;
     left: 43%;
     top: 15%;
 }

 .heading-4 h2 {
     position: relative;
     left: 0%;
     top: 70px;
     text-align: center;
     font-size: 30px;
     font-weight: bolder;
 }

 .para-4 {
     position: relative;
     top: 20%;
     text-align: center;
     margin: 10px;
     padding: 10px;
 }

 /* box-5 styling */
 .box5 {
     position: relative;
     width: 360px;
     height: 350px;
     background-color: white;
     border-radius: 50px;
 }

 .img-5 {
     position: relative;
     left: 43%;
     top: 15%;
 }

 .heading-5 h2 {
     position: relative;
     left: 0%;
     top: 70px;
     text-align: center;
     font-size: 30px;
     font-weight: bolder;
 }

 .para-5 {
     position: relative;
     top: 20%;
     text-align: center;
     margin: 10px;
     padding: 10px;
 }

 /* box-6 styling */
 .box6 {
     position: relative;
     width: 360px;
     height: 350px;
     background-color: white;
     border-radius: 50px;
     right: 3%;
 }

 .img-6 {
     position: relative;
     left: 43%;
     top: 15%;
 }

 .heading-6 h2 {
     position: relative;
     left: 0%;
     top: 70px;
     text-align: center;
     font-size: 30px;
     font-weight: bolder;
 }

 .para-6 {
     position: relative;
     top: 20%;
     text-align: center;
     margin: 10px;
     padding: 10px;
 }

 /* section-4 */
 .sec4 {
     background: linear-gradient(to right, rgb(33, 33, 128), black);
     width: 100%;
     height: 100vh;
 }

 .progress-container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin: 20px;
     padding: 20px;
     position: relative;
     right: 5%;

 }

 .progress-title {
     font-size: 30px;
     font-weight: 500;
     margin-bottom: 5px;
     color: white;
     position: relative;
     top: 60px;
     left: 5%;
 }

 .progress-circle {
     position: relative;
     width: 160px;
     height: 160px;
     border-radius: 50%;
     margin-bottom: 10px;
 }

 .outer {
     width: 160px;
     height: 160px;
     border-radius: 50%;
     padding: 20px;
     box-shadow: 6px 6px 10px rgb(33, 33, 128), -6px -6px 10px -1px rgb(33, 33, 128);
 }

 .inner {
     width: 120px;
     height: 120px;
     border-radius: 50%;
     box-shadow: inset 4px 4px 6px -1px rgb(33, 33, 128), inset -4px -4px 6px -1px rgb(33, 33, 128), -0.5px -0.5px 0px rgb(33, 33, 128), 0.5px 0.5px 0px rgb(33, 33, 128), 0px 12px 10px -10px rgb(33, 33, 128);
 }

 .num {
     color: white;
     font-weight: 600;
     position: relative;
     top: 50px;
     left: 40px;
 }

 circle {
     fill: none;
     stroke: white;
     stroke-width: 20px;
     stroke-dasharray: 380;
     stroke-dashoffset: 0;
     animation: anim 2s linear forwards;
 }

 svg {
     position: absolute;
     top: 0;
     left: 0;
 }

 @keyframes anim {
     100% {
         stroke-dashoffset: 0;
     }
 }

 /* SECTION-4 */
 .sec4 {
     background: linear-gradient(to right, rgb(33, 33, 128), black);
     width: 100%;
     height: 120vh;
 }

 .heading {
     color: white;
     position: relative;
     left: 7%;
     top: 5%;
 }

 .heading h5 {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 15px;
     letter-spacing: 3px;
     padding: 10px;
     text-shadow: 2px 4px 6px black;

 }

 .heading h1 {
     font-weight: 800;
     text-decoration: double;
     text-shadow: 2px 4px black;
 }

 /* image styling */
 .employee-wrap {
     position: relative;
     width: 50%;
     max-width: 300px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }



 .employee-wrap:hover .overlay {

     cursor: pointer;
     transform: scale(1.1);
     opacity: 1;

 }

 .overlay {
     position: relative;
     bottom: 0;
     background: rgb(0, 0, 0);
     background: rgba(0, 0, 0, 0.5);
     color: #f1f1f1;
     width: 100%;
     transition: .5s ease;
     opacity: 0;
     color: white;
     font-size: 15px;
     padding: 20px;
     text-align: center;

 }

 .employee-wrap:hover .overlay {
     opacity: 1;
 }